# Порт, на котором слушает Nest при локальном запуске без docker
# (в docker порт внутри контейнера 3000, на хост он publish'ится как 4000)
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
